<div class="container">
    <%= invoice_header %>
    <%= render "invoices/form" %>
    
    <p>
        <%= link_to "Edit this invoice", edit_partners_client_invoice_path(@invoice) %> | <%= link_to "Back to invoices", partners_client_invoices_path %>    
    </p>
</div>