<div class="container">
    <%= render "invoices/form" %>
    
    <p>
        <%= link_to "Edit this invoice", edit_client_invoice_path(@invoice) %> | <%= link_to "Back to invoices", client_invoices_path %>    
    </p>
</div>